<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<filter>
  	<filter-name>CharsetEncodingFilter</filter-name>
  	<filter-class>
  		com.zhidian.client.filter.CharsetEncodingFilter
  	</filter-class>
  	<init-param>
  		<param-name>endcoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	</filter>
  
  <filter-mapping>
  	<filter-name>CharsetEncodingFilter</filter-name>
  	<url-pattern>*.jsp</url-pattern>
  </filter-mapping>
   <filter-mapping>  
        <filter-name>CharsetEncodingFilter</filter-name>  
        <url-pattern>/servlet/NewBookStationUIServlet</url-pattern>  
    </filter-mapping>  
  
  
  <servlet>
  	<servlet-name>NewBookStationUI</servlet-name>
  	<servlet-class>com.zhidian.client.servlet.NewBookStationUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewBookStationUI</servlet-name>
  	<url-pattern>/servlet/NewBookStationUIServlet</url-pattern>
  </servlet-mapping>
	
    <filter>  
        <filter-name>LoginCheckFilter</filter-name>  
        <filter-class>  
            com.zhidian.client.filter.LoginCheckFilter  
        </filter-class>  
        <init-param>  
            <param-name>loginPage</param-name>  
            <param-value>/login.jsp</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/index.jsp</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/active.jsp</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/interfacelist.jsp</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/servlet/getusermessagelist</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/servlet/checkUser</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/servlet/newUserMessage</url-pattern>  
    </filter-mapping>  
    <filter-mapping>  
        <filter-name>LoginCheckFilter</filter-name>  
        <url-pattern>/servlet/addMessageType</url-pattern>  
    </filter-mapping>
    
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.zhidian.client.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>checkuser</servlet-name>
		<servlet-class>com.zhidian.client.servlet.CheckUserIsExistServlet</servlet-class>
	</servlet>
	<servlet>
			<servlet-name>getusermessagelist</servlet-name>
			<servlet-class>com.zhidian.client.servlet.GetUserMessageListServlet</servlet-class>
	</servlet>
	<servlet>
			<servlet-name>newusermessage</servlet-name>
			<servlet-class>com.zhidian.client.servlet.NewUserMessageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddMessageTypeServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.AddMessageTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelMessageTypeServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.DelMessageTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyMessageTypeServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.ModifyMessageTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetMessageTypeListServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.GetMessageTypeListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModUserPsdServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.ModUserPsdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewRegisteredSpaceServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.AddNewRegisteredSpaceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryRegisteredSpaceDetailServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.QueryRegisteredSpaceDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateRegisteredSpaceInfoServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.UpdateRegisteredSpaceInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelRegisteredSpaceServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.DelRegisteredSpaceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRegisteredSpaceListServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.GetRegisteredSpaceListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.zhidian.client.servlet.TestServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/servlet/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getusermessagelist</servlet-name>
		<url-pattern>/servlet/getUserMessageList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newusermessage</servlet-name>
		<url-pattern>/servlet/newUserMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>checkuser</servlet-name>
		<url-pattern>/servlet/checkUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMessageTypeServlet</servlet-name>
		<url-pattern>/servlet/addMessageType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelMessageTypeServlet</servlet-name>
		<url-pattern>/servlet/delMessageType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyMessageTypeServlet</servlet-name>
		<url-pattern>/servlet/modifyMessageType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetMessageTypeListServlet</servlet-name>
		<url-pattern>/servlet/getMessageTypeList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModUserPsdServlet</servlet-name>
		<url-pattern>/servlet/modUserPsd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewRegisteredSpaceServlet</servlet-name>
		<url-pattern>/servlet/addNewRegisteredSpace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryRegisteredSpaceDetailServlet</servlet-name>
		<url-pattern>/servlet/queryRegisteredSpaceDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateRegisteredSpaceInfoServlet</servlet-name>
		<url-pattern>/servlet/updateRegisteredSpaceInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelRegisteredSpaceServlet</servlet-name>
		<url-pattern>/servlet/delRegisteredSpace</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRegisteredSpaceListServlet</servlet-name>
		<url-pattern>/servlet/getRegisteredSpaceList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/servlet/test</url-pattern>
	</servlet-mapping> 
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
